<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
  <p>
    <%= user.username %> 
    <a href="logout">Log Out</a> 
    <a href="changePassword">Change Password</a> 
  </p>
  
  <% if (user.role === 'admin') { %>
  <h2>Manage User Roles</h2>
  <form action="/toggleUserRole" method="POST">
    <select name="userId" id="userId">
      <% users.forEach((u) => { %>
       <% if (u.username !== user.username) { %>
        <option value="<%= u._id %>"><%= u.username %> - <%= u.role %></option>
      <% }}); %>
    </select>
    <input type="submit" value="Toggle Role">
  </form>
  <% } %>
  
  <form action="" method="GET">
    <select name="user" onchange="this.form.submit()">
      <option value="all">All</option>
      <% users.forEach(function(u) { %>
        <option value="<%= u._id %>" <%= selectedUser === u._id.toString() ? 'selected' : '' %>><%= u.username %></option>
      <% }); %>
    </select>
  </form>
  
  <h1>Blog Posts (Count: <%= totalPosts %>)</h1>
  <a href="createPost">Create New Post</a>
  <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
      <div>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <p>Posted by: <%= post.author.username %></p>
        <% if (user && (user._id.toString() === post.author._id.toString() || user.role === 'admin')) { %>
          <a href="/editPost/<%= post._id %>">Edit</a>
        <% } %>
        <% if (user && user.role === 'admin') { %>
          <form action="/deletePost/<%= post._id %>" method="POST" style="display: inline;">
            <button type="submit">Delete</button>
          </form>
        <% } %>

      </div>
    <% }) %>
  <% } else { %>
    <p>No posts to display.</p>
  <% } %>
</body>
</html>
